.form-group { 
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 2rem;
}
.form-field { 
  display: grid;
}

.form-error {
  display: block;
}

.field-error {
  color: red;
}

.form-group button {
  font-size: 20em;
}

.invisible {
  display: none;
}