<h2 class="content-block">Let's play a game</h2>
<div class="content-block">
  
  <form [formGroup]="gameForm" #ngForm="ngForm" (ngSubmit)='newGame(ngForm)'>

    <div class="form-group">
      <div class="form-field">
        <label>Nickname</label>
        <input formControlName="nickName" type="text"/>
      </div>
      <div class="form-field">
        <label>Rounds</label>
        <input formControlName="rounds" type="number" (focusout)="checkRounds($event)"/>
      </div>
    </div>

    
    <dx-button icon="spinnext" [disabled]="gameForm.invalid" [useSubmitBehavior]="true" stylingMode="contained"></dx-button>
    
    <app-card-selector [gameId]="gameId" [enableSelection]="ngForm.submitted && !gameForm.invalid" (sendMoveSelection)="receiveMoveSelected($event)"></app-card-selector>

  </form>
</div>
